:root {
  --primary-color: #1f2120;
  --background-color: #f2f6f5;
  --dark-color: #7d7d7d;
  --light-color: #a8a8a8;
  --contrast-color: #eeaba2;
  --danger-color: #ec5f6d;
  --success-color: #5deb7e;
}
html {
  font-size: 12px;
}
body {
  color: var(--primary-color);
}
.first-row {
  padding-top: 30px;
}
.text-center {
  text-align: center;
}
.unity-game {
  width: 100%;
  height: 100%;
}
.center-flex {
  display: flex;
  justify-content: center;
}
.btn-primary {
  background-color: var(--dark-color);
}
.btn-primary:hover {
  background-color: var(--primary-color);
}
.btn-primary:focus {
  background-color: var(--dark-color);
}
.btn-secondary {
  background-color: var(--light-color);
}
.btn-secondary:hover {
  background-color: var(--dark-color);
}
.btn-secondary:focus {
  background-color: var(--light-color);
}
.form-label {
  font-size: 1.25rem !important;
}
.form-field {
  margin-top: 30px;
}
.dropdown-content,
.sidenav {
  background-color: var(--background-color);
}
.dropdown-content li a {
  color: var(--primary-color);
}
blockquote {
  border-left: 5px solid var(--contrast-color) !important;
}

/* Navbar CSS */
.nav-wrapper {
  background-color: var(--background-color);
}
.nav-wrapper a {
  color: var(--primary-color);
}
.nav-wrapper .hide-on-med-and-down a {
  font-size: 1.5rem !important;
}
.brand-logo {
  font-size: 2.5rem !important;
}
#gameDropdown.dropdown-content {
  position: relative;
  top: 0 !important;
}
.submenu li {
  text-indent: 20px;
}
.sidenav {
  width: 250px;
}
.material-icons.large {
  font-size: 2.5rem;
}
@media only screen and (min-width: 993px) {
  .brand-logo {
    padding-left: 20px !important;
  }
}

/* Website CSS */
.website-list li:nth-child(odd) {
  color: var(--primary-color);
}

/* ProfilePhoto CSS */
.profile-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* BattleCityTowerDefenseGame CSS */
.tower-defense-container {
  width: 400px;
  height: 865px;
}

/* MarioGame CSS */
.mario-container {
  width: 900px;
  height: 600px;
}

/* MarioDescrioption CSS */
.mario-state-machine-diagram {
  max-width: 100%;
  max-height: 100%;
}

/* TreasureHunterGame CSS */
.treasure-hunter-container {
  width: 1000px;
  height: 625px;
}

/* JailbreakVideo CSS */
.youtube-container iframe {
  max-height: 100%;
  max-width: 100%;
}

/* Register CSS */
.register-button {
  margin-right: 20px;
  margin-bottom: 15px;
}
.back-to-login-button {
  margin-bottom: 15px;
}

/* Login CSS */
.login-button {
  margin-right: 20px;
  margin-bottom: 15px;
}
.go-to-register-button {
  margin-bottom: 15px;
}

/* Preloading CSS */
.progress {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

/* FormModal */
.modal {
  width: 45%;
}

.datepicker-modal {
  top: 0 !important;
  width: 100%;
}

.confirm-button {
  margin-right: 20px;
  margin-bottom: 15px;
}
.cancel-button {
  margin-bottom: 15px;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
  .datepicker-modal {
    top: 0 !important;
    width: 100%;
  }
}

/* ToDoItem CSS */
.todo-list {
  margin-top: 50px;
}
.collection-item {
  line-height: 30px !important;
}
.custom-badge {
  display: inline-block;
  color: white;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}
.high-priority-badge {
  background-color: red !important;
}
.medium-priority-badge {
  background-color: orange !important;
}
.low-priority-badge {
  background-color: lightgreen !important;
}
.edit-button {
  margin-right: 5px;
}

/* MessageBox CSS */
.danger {
  color: var(--danger-color) !important;
}

.success {
  color: var(--success-color) !important;
}
